* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

li {
  list-style: none;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
}

.navbar .navlinks {
  flex: 1;
  display: inline-block;
  text-align: right;
}

.navbar .navlinks li {
  margin-right: 20px;
  display: inline;
}

.container {
  max-width: 1300px;
  width: 90%;
  margin: auto;
}

.home .container .row .col img {
  width: 100%;
}
.home .container .row .col h1 {
  font-size: clamp(2vw, 45px, 4vw);
  margin: 30px 0;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 0;
  flex-wrap: wrap;
}
.row .col-2 {
  flex-basis: 50%;
  min-width: 250px;
}

.col-2 img {
  margin-top: 30px;
  width: 100%;
}

.col-2 h1 {
  font-size: clamp(2vw, 50px, 5vw);
  text-transform: capitalize;
  margin-bottom: 40px;
}

.header {
  background: radial-gradient(#ffff, #ff5ad4);
  padding-bottom: 50px;
}

@media (max-width: 700px) {
  .navbar .navlinks {
    display: none;
  }
  .header .container > .row {
    flex-direction: column;
  }

  /* .container .row .order-1{
        order: 1;
        width: 100%;
    }

    .container .row .order-2{
        order: 2;
        width: 100%;
    } */

  .navbar .navlinks li {
    margin: 20px 0;
    display: block;
  }
}

/* -----------------Feature product -------------------- */

.small-container {
  max-width: 1080px;
  width: 96%;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
}

.feature-product .row .col-3 img {
  width: 100%;
}

.exclusive-product .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  margin: 50px 0;
}

.row .col-3 img {
  width: 100%;
}

.product-info p {
  font-weight: 800;
  font-size: 13px;
}
.product-info h4 {
  font-weight: 800;
  font-size: 22px;
  color: red;
}

/* ---------------- brand ------------------- */

.exclusive p{
  margin: 20px 0;
}
.exclusive h4{
  margin: 20px 0;
  font-size:clamp(2vw,45px,4vw);
}

.exclusive-img{
 padding-top: 50px!important;
}


.btn {
  padding: 10px 30px;
  background-color: rgb(239, 47, 50);
  border-radius: 30px;
  display: block;
  border: none;
  outline: none;
  margin: 20px 0;
  font-size: 20px;
}

.btn a {
  color: white;
}

/* -------- user ----------------------- */
.users .col-3 {
  box-shadow: 0px 0px 20px 0px #555;
  text-align: center;
  padding: 30px;
  padding-bottom: 40px;
  transition: transform 0.5s;
}
.users .col-3:hover {
  transform: translateY(-5px);
}

.users .col-3 small {
  margin-bottom: 30px;
}
.users .col-3 h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: red;
  font-size: 22px;
}

.users .col-3 h5 {
  font-weight: 700;
  text-transform: capitalize;
  margin-top: 20px;
}

.users .col-3 img {
  width: 40px;
  border-radius: 50%;
}

.users .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 40px;
}

/* --------------- brands ---------------------- */

.brands .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 40px;
}

.brands .row .col-3 img {
  width: 100%;
  filter: grayscale(100%);
}
.brands .row .col-3 img:hover {
  width: 100%;
  filter: grayscale(0%);
}


/* ------------------Footer -------------------------- */
.footer{
  background-color: black;
  padding-top: 50px;
}

.footer h4{
  color: white;
  margin-bottom:30px;
}

.footer p{
  margin-bottom: 30px;
}

.footer ul li{
  color:#555;
  margin-bottom: 20px;
}


.footer-row{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-1 .plateform-img{
 display: flex;
}
.footer-col-1 .plateform-img img{
width: 50%;
}
.footer-col-2{
  flex:1;
}

.footer-col-3,.footer-col-4{
  flex-basis: 10%;
}

hr{
  width: 100%;
  height: 4px;
  border: none;
  background-color: #555;
  margin: 50px 0;
}

.copyright{
  text-align: center;
 padding-bottom: 20px;
}

/* ------------- product-details ------------------ */

.single-product .small-container{
  background: rgba(245, 147, 147,0.3);
}

.product-details h2{
  font-size: clamp(2vw,40px,4vw);
  margin: 15px 0;
}
.product-details p{
  font-size:20px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-details input,.product-details select{
  padding: 10px;
  /* width: 40px; */
  outline: none;
  border: 1px solid red;
  margin: 15px;
}

 .gallery-img{
  width: 100%;
  display: flex;
  gap: 15S;
}
.product-details .gallery-img .col{
  flex-basis: 24%;
}

/* -------- cart items----------- */

table{
  width: 100%;
  margin: 100px auto;
  border-collapse: collapse;
}

table tr th{
  background: orangered;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  
}



.product-img{
  display: flex;
  margin-right: 10px;
}

.product-detail{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

td,tr{
  text-align: left;
 
}



td a{
  color: red;
  margin-top: -20px;
}

td input{
  width: 40px;
  height: 40px;
  text-align: center;
}






























@media (max-width: 720px) {
  .brand .col-2 {
    padding-top: 80px;
  }

  .brand {
    padding: 10px;
  }
  .brand .col-2 {
    padding: 0;
  }

  .brand > .row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
  }

  .footer-row{
    flex-direction: column;
  }
}
